
body { 
	background-color: #000000;
	background-image: url("https://www.transparenttextures.com/patterns/greyzz.png");
	margin:0;
	padding:0;
	align-content: center;
} 

h1 { 
	font-family: 'Anton', sans-serif;
	color: white;
	letter-spacing: 2px;
	font-size: 200%;
}

.container-fluid {
	max-width: 90%;
	max-height: 100%;
	margin: 10%;
	text-align: center;
	align-items: center;
}

.top {
	margin: auto;
	border-color: white;
	width: 100%;
	text-align: center;
	margin: 5% auto 5% auto;
}

.dayTime {
	text-align: left;
}

.text-1 {
	font-family: 'Noto Sans', sans-serif;
	color: white;
	font-size: 150%;
	font-style: bold;
	text-decoration: underline;
	margin: 2% auto 2% auto;
}

.text-2 {
	font-family: 'Noto Sans', sans-serif;
	color: white;
	font-size: 120%;
}

#timeDiv {
	font-family: 'Noto Sans', sans-serif;
	color: white;
	font-size: 120%;
	vertical-align: center;	
}